body{
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin:0px;
    color:#424242;
    font-family: 'Playfair Display', serif;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

.header_menus{
    position: absolute;
    width:100%;
    z-index: 1024;
}

.container_menu_bar{
    position: relative;
    width: 100%;
}


.header-action-bar{
    background-color: #424242;
    line-height: 32px;
    position: relative;
    z-index: 2;
}

.header-action-bar {
    background: #424242;
    position: relative;
    z-index: 1;
}

.header-action-bar .info-box {
    padding-top: 10px;
    padding-bottom: 10px;
}


.header-action-bar ul li:last-child,
.header-action-bar ul.top-action-list li:last-child {
    margin-right: 0;
}

.header-action-bar  ul li, .footer-area .footer-widget-wrap .footer-item ul li {
    color: #fff;
    font-size: 13px;
    margin-right: 30px;
}

.header-action-bar .info-box ul li a{
    color: #fff;
    font-size: 14px;
    margin-right: 30px;
}


.header-action-bar .info-box-2 ul li a{
    color: #fff;
    font-size: 14px;
    margin-left: 30px;
    margin-right: 0px;
}

.header-action-bar ul li a:hover,
.header-action-bar ul li a i {
    color: #59a9e6;
}


.header-action-bar .info-box-2 ul li a i {
    color: #bfbfbf;
    font-size: 14px;
}

.header-action-bar ul li a i:hover {
    color: #59a9e6;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
    font-size:16px;
    font-weight: bold;
}

.footer-area{
    background-color: #424242;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    
    overflow: hidden;
    margin-top:30px;
}

.footer-area .footer-top{
    
    padding-top: 30px;
    padding-bottom: 50px;
}

.footer-area .footer-bottom{
    border-top: 2px solid #555555;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-area .footer-bottom .copyright-desc {
    font-size: 16px;
    color: #bfbfbf;
}

.footer-area .footer-bottom .copyright-desc a {
    color: #bfbfbf;
    position: relative;
    z-index: 1;
}

.footer-area .footer-widget-wrap .footer-item .widget__title {
    font-size: 24px;
    color: #fff;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 23px;
    
}

.footer-area .footer-widget-wrap .footer-item a {
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    text-transform: capitalize;
}

.footer-area .footer-widget-wrap .footer-item .footer__social ul li a {
    font-size: 14px;
    background-color: #50bac3;
    color: #fff;
    padding: 0 5px 0 14px;
    line-height: 42px;
    position: relative;
    z-index: 1;
    display: block;
    min-width: 35px;
}

.footer-area .footer-widget-wrap .footer-item .footer__social ul li a:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #50bac3;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: skew(
-12deg,
0deg);
    -moz-transform: skew(-12deg,0deg);
    -ms-transform: skew(-12deg,0deg);
    -o-transform: skew(-12deg,0deg);
    transform: skew(
-12deg,
0deg);
}

.footer-area .footer-widget-wrap .footer-item .footer__social ul li:nth-child(2) a, .footer-area .footer-widget-wrap .footer-item .footer__social ul li:nth-child(2) a:after {
    background-color: #e36955;
}

.footer-area .footer-widget-wrap .footer-item .footer__social ul li:nth-child(3) a, .footer-area .footer-widget-wrap .footer-item .footer__social ul li:nth-child(3) a:after {
    background-color: #59a9e6;
}

.footer-area .footer-widget-wrap .footer-item .footer__social {
    margin-top: 29px;
}

.footer-area .footer-widget-wrap .footer-item .footer__social ul li {
    display: inline-block;
    margin-right: 15px;
}